<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Shorten Your URL</h1>
    <form method="post" action="/home">
      <input type="text" name="url" placeholder="https://example.com" />
      <button type="submit">Generate URL</button>
    </form>
    <% if (generatedURL) { %>
    <h4>Generated URL: http://localhost:3000/<%=generatedURL%></h4>
    <% } %> Below are the urls on the database.
    <table border="2px solid black">
      <tr>
        <th>ShortId</th>
        <th>originalID</th>
        <th>Visit Count</th>
      </tr>
      <% if (urls) { %> <% urls.forEach(url => { %>
      <tr>
        <td><%= url.shortID %></td>
        <td><%= url.originalID %></td>
        <td><%= url.visitHistory.length %></td>
      </tr>
      <%}); %> <% } %>
    </table>
  </body>
</html>
